* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	background: rgb(230, 230, 230);
}

/* cabecera */
.cabecera {
	display: flex;
	width: 100%;
	height: 140px;
	/* background: red; */
}
.btnMenu {
	display: flex;
	width: 10%;
	justify-content: center; 
    align-items: center;
	height: auto;
	/* background: white; */
}
.btnLogo {
	display: flex;
	width: 20%;
    align-items: center;
	height: auto;
	/* background: orange; */
}
.espaciador{
	display: flex;
	width: 5%;
	height: auto;
	/*background: red;*/
}
.listaMenu {
	display: flex;
	width: 50%;
	justify-content:end;
    align-items: center;
	height: auto;
	/* background: greenyellow; */
}
.btnBuscar {
	display: flex;
	width: 10%;
	justify-content: center; 
    align-items: center;
	height: auto;
	/*background: blue;*/
}
.btnCarrito {
	display: flex;
	font-size: 25px;
	width: 5%;
    align-items: center;
	height: auto;
	/*background: cyan;*/
}

/* boton desplegable Menu */
button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border: 0;
	background: transparent;
	gap:.80rem;

	/*Agregado*/ cursor: pointer;
}

button > div {
	background: black;
	height: 3px;
	width: 100%;
	border-radius: 5px;
	transition: all .5s;
	transform-origin: left;
}

button:hover div:first-child{
	transform: rotate(45deg);
}

button:hover div:nth-child(2) {
	opacity: 0;
}

button:hover div:last-child {
	transform: rotate(-45deg);
}


/* Estilos para el menu desplegable */




/* Estilos para la lista */
nav {
    display: block;
}

a {
    color: black;
    font-size: 180%;
    text-decoration: none;
}

a#inicio  {
    color: #F60;
    text-decoration: none;
}

a:hover {
    color: #F60;
}

h1 , nav{
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    max-width: 100%;
}

nav li {
    display: inline-block;
}
li {
	margin-left: 30px;
}

/*Boton de busqueda */
.container {
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 50px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #F60;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 70px;
	height: 70px;
	background: #F60;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 70px;
	transition: all .7s ease;
}

.container:hover input {
	width: 280px;
}

.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #F60;
}

/* Eslogan */
section#eslogan {
	display: flex;
	background: #FFF url(../img/Supermercado.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	height: 55em;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.indicador {
	display: flex;
	font-size: 300%;
	margin-top: 3%;
}
p#eslogan {
	font-size: 350%;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Nosotros */
section#nosotros {
	display: flex;
	flex-direction: column;
	/*background: red; */
	margin: 0 auto;
	width: 100%;
	height: 43em;
	justify-content: center;
}

/* Mision */
section#mision-titulo {
	margin-left: 11%;
	padding: 1%;
	/*background: green;*/
	color: #F60;
	font-weight: bold;
	width: 30%;
	font-size: 2.5em;
}
section#mision-contenidoGeneral{
	display: flex;
}
section#mision-contenido {
	font-size: 1.4em;
	margin-left: 10%;
	background: white;
	width: 60%;
	padding: 2%;
	align-items: center;
	border: none;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
section#mision-imagen{
	font-size: 5em;
	text-align: center;
	background: white;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
	padding: 2%;
	width: 1.2em;
	border-radius: 50%;
	margin-left: 8%;
}

/* Vision */
section#vision-titulo {
	text-align: end;
	margin-right: 9%;
	padding: 1%;
	/*background: green;*/
	color: #F60;
	font-weight: bold;
	font-size: 2.5em;
}

section#vision-contenido {
	font-size: 1.4em;
	margin-left: 10%;
	margin-right: 8%;
	background: white;
	text-align: end;
	width: 60%;
	padding: 2%;
	border: none;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
section#vision-imagen{
	font-size: 5em;
	text-align: center;
	background: white;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
	padding: 2%;
	width: 1.25em;
	border-radius: 50%;
	margin-left: 10%;
}

/* Ofertas */
section#ofertas {
	display: flex;
	flex-direction: column;
	background: white;
	margin: 0 auto;
	width: 100%;
	height: 30em;
	justify-content: center;
}

/* Productos */
section#productos {
	display: flex;
	flex-direction: column;
	background: rgb(141, 120, 120);
	margin: 0 auto;
	width: 100%;
	height: 30em;
	justify-content: center;
}

/* Contacto */